group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget FSharp.Core
    nuget Fable.Core >= 2.0.0-alpha-010
    nuget Fable.Parsimmon
    clitool dotnet-fable ~> 2.0.0-alpha-015

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
